#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 1rem;*/
  text-align: center;
}

.body {
    color:#000;
    font-size: 14px;
    background: white;
}

@font-face {
    font-family: 'ABZeus';
    src: local('ABZeus'), url('/fonts/ABZeus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.abzeus {
    font-family: 'ABZeus', sans-serif;
}

.highlightedText {
    font-size: 10rem;
    line-height: 0.6;
    margin: 30px 0px;
}

.unselectable {
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select: none;
    user-select: none;
}

.mainContent {
    margin-top: 65px;
    margin-bottom: 65px;
}

.secondaryContent {
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.mainText {
   line-height: 0.8;
}

.mainHeader {
    position: absolute;
    top: 30px;
    z-index: 10000;
}

.inputForm {
  /*padding: 2em;*/
}

.translationResults {
  color: #000;
  font-size: 18px;
}

.screenshotContainer {
    width: 960px;
    padding: 20px;
}

@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes oscillate {
    0% {
   
      opacity: 0.4;
      filter: blur(3px);
      transform: translateY(0px);
    }
    50% {
       
      opacity: 0.8;
      filter: blur(8px);
      transform: translateY(-20px);
    }
    100% {
      
      opacity: 0.4;
      filter: blur(3px);
      transform: translateY(0px);
    }
  }


  .ABZeusTranslatorWidget {
    position: relative;
  }
  .ABZeusTranslatorWidget .screenshot {
    position: absolute;
    top: 10px;
    right:10px;
  }

  .ABZeusTranslatorWidget .inputForm {
    position: absolute;
    top: 5px;
    width: 100%;
  }

  .ABZeusTranslatorWidget .simpleOutput {
    font-size: 30px;
    text-shadow: #000;
  }

  .ABZeusGraph .background {
    position: absolute;
    animation: oscillate 8s ease-in-out infinite;
    top: 0;
    left: 0;
  }

  .ABZeusGraph {
    position: relative;
  }



  .signature p {
    font-size: 10px;
    line-height: 1;
    margin: 0;
    padding:0;
  }
